<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Add Toastify CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <title>Library Books</title>
    <style>
        .text-button {
            border: none;
            background: none;
            padding: 0;
            font-size: 16px;
            color: #007bff;
            /* Change the color as desired */
            cursor: pointer;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="index.html">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="books.html">Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="customers.html">Customers</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="loans.html">Loans</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        <h1>Library Loans</h1>
        <hr>
        <div class="mt-3 border p-3">
            <div class="row">
                <div class="col-md-6">
                    <label for="books" class="form-label">Book:</label>
                    <select id="books" class="form-control"></select>
                </div>
                <div class="col-md-6">
                    <label for="customers" class="form-label">Customer:</label>
                    <select id="customers" class="form-control"></select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-outline-primary btn-block" onclick="get_data()">Loans</button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-outline-primary btn-block" onclick="get_late_loans()">Late Lons</button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-outline-secondary btn-block" onclick="add_loan()">New</button>
            </div>
        </div>


        <div id="dis" class="row mt-4" >
            <!-- Books will be displayed here -->
        </div>
    </div>

    <script>
        const MY_SERVER = 'http://127.0.0.1:5000/loans/'

        // gets customers and books in the input fields when opening the window
        const get_customers = async () => {
            const response = await axios.get('http://127.0.0.1:5000/customers');
            const customers = response.data;
            // Display customers using Bootstrap cards
            const custsList = document.getElementById("customers");
            custsList.innerHTML = customers.map(customer => `<option>${customer.name}</option>`).join('');
        }

        const get_books = async () => {
            const response = await axios.get('http://127.0.0.1:5000/books');
            const books = response.data;
            // Display books using Bootstrap cards
            const bookList = document.getElementById("books");
            bookList.innerHTML = books.map(book => `<option>${book.name}</option>`).join('');
        }

        window.onload = () => {
            get_books()
            get_customers()
        }

        // Function to fetch and display loans
        const get_data = async () => {
            const response = await axios.get(MY_SERVER);
            const loans = response.data;
            // Display loans using Bootstrap cards
            const loanList = document.getElementById("dis");
            loanList.innerHTML = loans.map(loan => `
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title" style="color: #007bff;">${loan.book}</h5>
                                <p class="card-text">${loan.customer}</p>
                                <p class="card-text">From ${loan.loan_date}</p>
                                <p class="card-text">Until ${loan.return_date}</p>
                                <button class='btn btn-outline-danger btn-block' onClick='delete_loan(${loan.id})'>Delete</button>
                            </div>
                        </div>
                    </div>
                `).join('');
        }

        // Function to fetch and display loans
        const get_late_loans = async () => {
            try {
                const response = await axios.get(`${MY_SERVER}late`);
                const loans = response.data;
                // Display loans using Bootstrap cards
                const loanList = document.getElementById("dis");
                loanList.innerHTML = loans.map(loan => `
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title" style="color: #007bff;">${loan.customer}</h5>
                                <p class="card-text">${loan.book}</p>
                                <p class="card-text">${loan.loan_date}</p>
                                <p class="card-text">${loan.return_date}</p>
                                <button class='btn btn-outline-info btn-block' onclick='update_book(${loan.id})'>Update</button>
                                <button class='btn btn-outline-danger btn-block' onClick='delete_book(${loan.id})'>Delete</button>
                            </div>
                        </div>
                    </div>
                `).join('');
            } catch (error) {
                Toastify({
                    text: error.response.data.error,
                    duration: 3000, // 3 seconds
                    gravity: 'top', // Position the toast at the top
                    backgroundColor: 'rgba(255, 92, 92, 0.85)',
                    stopOnFocus: true, // Stop auto close when focused
                }).showToast();
            };
        }

        // add loan
        const add_loan = async () => {
            document.getElementById("dis").innerHTML = ''
            try {
                const book_response = await axios.get(`http://127.0.0.1:5000/books/${books.value}`); // get book by name
                const book = book_response.data;
                const customer_response = await axios.get(`http://127.0.0.1:5000/customers/${customers.value}`); // get customer by name
                const customer = customer_response.data;
                const response = await axios.post(MY_SERVER, {
                    "c_id": customer.id,
                    "b_id": book.id
                });
            } catch (error) {
                Toastify({
                    text: error.response.data.error,
                    duration: 3000, // 3 seconds
                    gravity: 'top', // Position the toast at the top
                    backgroundColor: 'rgba(255, 92, 92, 0.85)',
                    stopOnFocus: true, // Stop auto close when focused
                }).showToast();
            };
        }

        // delete loan
        const delete_loan = async (loan_id) => {
            try {
                const response = await axios.delete(`${MY_SERVER}${loan_id}`);
            } catch (error) {
                Toastify({
                    text: error.response.data.error,
                    duration: 3000, // 3 seconds
                    gravity: 'top', // Position the toast at the top
                    backgroundColor: 'rgba(255, 92, 92, 0.85)',
                    stopOnFocus: true, // Stop auto close when focused
                }).showToast();
            };
        }

    </script>

    <!-- Add Bootstrap and Toastify JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

</body>


</html>